
.app-body {
  margin-left: 15px;
}

.side-bar {
    height: 100%;
}

.feed:hover {
  cursor: pointer;
}

.feed-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}
